<div class="container">
  <div class="box">
    <div class="box-header">
      <h3><a href=""><img src="https://goo.gl/oOD0V2" alt="" /><span>Organizer:</span> Roswell Parian</a>
        <span>Johannesburg, South Africa</span>
        <span>Members: 3262 Status: active</span>
        <span>Category: Arts & Culture</span>
      </h3>
    </div>
    <div class="box-content">
      <div class="content">
        <h3>JOZI walks, culture and fun</h3>
        <div class="disc">
            <p>- Are you looking for friends who also are interested in walking in nature, in movies, live shows, lunch or dinner in interesting places? <br>- Do you prefer to visit museums or game reserves in the company of friends or are you looking for like minded people to do activities on your bucket list? <br>- Are you interested in exploring the beautiful part of the world we live in? <br><b><i>Join us and have fun doing the things you like while in great company.</i></b>&nbsp;&nbsp;</p>
            <p></p>
            <p><span>Participation in events and travel in relation to events is for the sole cost, risk and responsibility of participants.</span></p>
            <p><span><br></span></p>
            <p>Please ensure that your meetup settings for "JOZI walks, culture and fun" allow updates to be sent to you re events you have RSVP'ed for as attending. This will avoid disappointment as a result of a missed message re a change or update of an event.<br></p>
        </div>
        <div class="img"><img src="https://goo.gl/g0Xdh3" alt="" /></div>
      </div>
    </div>
  </div>
</div>
